@{
    ViewBag.Title = "Check-In";
}
<section class="box" style="border-left: 3px solid #e77512;">
    <header class="panel_header">
        <h2 class="title pull-left">@ViewBag.Title</h2>
    </header>
    <div class="content-body">
        <div class="row">
            @using (Html.BeginForm("CheckIn", "Documents", FormMethod.Post, new { area = "DMS", encType = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="CategoryId" name="CategoryId" value="@ViewBag.CategoryId" />
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-2">Notes</label>
                        <div class="col-md-10">
                            <textarea required id="notes" name="notes" class="form-control" placeholder="Add some comments to understand the purpose of this update."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Upload</label>
                        <div class="col-md-10">
                            <input required type="file" id="attachments" name="attachments" class="form-control" multiple />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add Document(s)" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>