<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="iSynergy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="host" value="smtp.gmail.com" />
    <add key="SMTP_Port" value="587" />
    <add key="Use_SMTP_Authentication" value="true" />
    <add key="Enable_SSL" value="true" />
    <add key="From_Email" value="absolhelpdesk@gmail.com" />
    <add key="From_Email_Password" value="qxdbpnlyggccouvf" />
    <add key="MENAFATF_Email" value="absolhelpdesk@gmail.com" />
    <add key="MvcMailer.BaseURL" value="" />
  </appSettings>-->

  <connectionStrings>
    <!-- use below connection string for developer machine -->
    <add name="DefaultConnection" connectionString="Data Source=DESKTOP-31IH2EF;Initial Catalog=iHelpDesk;Trusted_Connection=True;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-iSynergy.mdf;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
    <!-- use below connection string for conninting production server remotely-->
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=isynergy;Persist Security Info=True;User ID=isynergy;Password=absolconfidential;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->

    <!-- use below connection string for conninting demo on server remotely-->
    <!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=isynergy_demo;Persist Security Info=True;User ID=isynergy_demo;Password=isynergy_demo;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->

    <!-- use below connection string for copy of production on developer machine -->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\isynergy_prd_copy.mdf;Initial Catalog=isynergy_prd_copy;Integrated Security=True;MultipleActiveResultSets=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>-->

    <!--<add name="Model1" connectionString="data source=DESKTOP-C975KPU;initial catalog=ISynergy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="Model11" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=iSynergy.DataContexts.ERD.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="Model1Container" connectionString="metadata=res://*/DataContexts.ERD.Model1.csdl|res://*/DataContexts.ERD.Model1.ssdl|res://*/DataContexts.ERD.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5FS7S35;initial catalog=ISynergy;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="COGS" value="05-01" />
    <add key="FiscalPeriods" value="1" />
    <add key="FiscalStartDate" value="01/07/2018 12:00:00 AM" />
    <add key="CompanyName" value="Absolute Solutions" />
    <add key="CompanyLogo" value="/Data/Uploads/0D/F0/BD/3A/9D/47/7B/19/04/30/13/86/D0/3B/DC/E0/f0649fec-ed9e-4cf4-b756-e0006c7df8cd.png" />
    <add key="licenseInfo1" value="module=Procurement;customer=ABSOL;license=9D-3A-BF-F8-54-28-16-E8-DF-75-F1-2C-D2-54-39-AC;expires=1/1/2025;" />
    <add key="licenseInfo2" value="module=HR;customer=ABSOL;license=F9-38-B7-9A-39-45-3A-6A-FC-71-0F-C2-E4-63-6B-22;expires=1/1/2025;" />
    <add key="licenseInfo3" value="module=Finance;customer=ABSOL;license=52-CF-27-C0-2C-F3-0B-00-79-B8-E4-53-AB-51-1C-69;expires=1/1/2025;" />
    <add key="licenseInfo4" value="module=Inventory;customer=ABSOL;license=41-45-3A-39-3B-A3-0B-29-83-4D-AD-76-3B-01-6E-C1;expires=1/1/2025;" />
    <add key="licenseInfo5" value="module=DMS;customer=ABSOL;license=0F-20-A1-3F-53-5D-9F-8F-EE-90-56-72-21-71-33-28;expires=1/1/2025;" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="host" value="smtp.gmail.com" />
    <add key="SMTP_Port" value="587" />
    <add key="Use_SMTP_Authentication" value="true" />
    <add key="Enable_SSL" value="true" />
    <add key="From_Email" value="absolhelpdesk@gmail.com" />
    <add key="From_Email_Password" value="qxdbpnlyggccouvf" />
    <add key="MENAFATF_Email" value="absolhelpdesk@gmail.com" />
    <add key="MvcMailer.BaseURL" value="" />
    
    
    
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <customErrors mode="Off">
      <error statusCode="400" redirect="~/Error/BadRequest" />
      <error statusCode="403" redirect="~/Error/Forbidden" />
      <error statusCode="404" redirect="~/Error/PageNotFound" />
      <error statusCode="500" redirect="~/Error/ServerError" />
    </customErrors>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>

  <!--<applicationSettings>
    <iSynergy.Properties.Settings>
      <setting name="DefaultRoleName" serializeAs="String">
        <value>Can Create Requisitions</value>
      </setting>
      <setting name="DefaultPassword" serializeAs="String">
        <value>P@kistan1947</value>
      </setting>
      <setting name="DefaultAdminRoleName" serializeAs="String">
        <value>Admin</value>
      </setting>
      <setting name="SMTP" serializeAs="String">
        <value>mail.ab-sol.net</value>
      </setting>
      <setting name="SendingEmail" serializeAs="String">
        <value>eService@ab-sol.net</value>
      </setting>
      <setting name="SendingEmailPassword" serializeAs="String">
        <value>P@kistan1947</value>
      </setting>
      <setting name="RootUrl" serializeAs="String">
        <value>108.60.201.124/iSynergy</value>
      </setting>
      <setting name="DefaultAdminEmail" serializeAs="String">
        <value>iftikhar@ab-sol.net</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="Modules" serializeAs="String">
        <value>finance,procurement,dms,hr,inventory</value>
      </setting>
      <setting name="rootFolder" serializeAs="String">
        <value>iSynergy</value>
      </setting>
    </iSynergy.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      --><!-- Method#1: Configure smtp server credentials --><!--
      <smtp from="absolhelpdesk@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="absolhelpdesk@gmail.com" password="qxdbpnlyggccouvf" />
      </smtp>

      --><!-- Method#2: Dump emails to a local directory --><!--
      --><!--
			<smtp from="some-email@gmail.com" deliveryMethod="SpecifiedPickupDirectory">
				<network host="localhost" />
				<specifiedPickupDirectory pickupDirectoryLocation="c:\temp\"/>
			</smtp>
			--><!--
    </mailSettings>
  </system.net>-->
</configuration>