<!-- SIDEBAR - START -->

<div class="page-sidebar fixedscroll">

    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">


        <ul class='wraplist'>
            <li class="">
                <a href="javascript:;"> <i class="fa fa-folder-open"></i> <span class="title">Reports</span> <span class="arrow"></span> </a>
                <ul class="sub-menu" style="display: none;">

                    <li class="">
                        <a href="~/Finance/Ledgers">
                            <span class="title">Ledgers</span>
                        </a>
                        <a href="~/Finance/BalanceSheet">
                            <span class="title">Balance Sheet</span>
                        </a>
                        <a href="~/Finance/ProfitAndLossStatement">
                            <span class="title">P/L Statement</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class='menusection'>Actions</li>
            @*<li class="">
                    <a href="~/Finance/ReconcileBankAccount/">
                        <i class="fa fa-sign-out"></i>
                        <span class="title">Reconcile</span>
                    </a>
                </li>*@
            <li class="">
                <a href="~/Finance/JournalEntries/">
                    <i class="fa fa-sign-in"></i>
                    <span class="title">Journal Entries</span>
                </a>
            </li>
            <li class='menusection'>Setup</li>
            <li class="">
                <a href="javascript:;"> <i class="fa fa-folder-open"></i> <span class="title">Chart of Accounts</span> <span class="arrow"></span> </a>
                <ul class="sub-menu" style="display: none;">
                    <li class="">
                        <a href="~/Finance/AccountGroups/">
                            <span class="title">Groups</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="~/Finance/AccountSubGroups/">
                            <span class="title">Sub Groups</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="~/Finance/Accounts/">
                            <span class="title">Accounts</span>
                        </a>
                    </li>
                </ul>
            </li>
            @*<li class="">
                <a href="~/Finance/Banks">
                    <i class="fa fa-bank"></i>
                    <span class="title">Banks</span>
                </a>
            </li>
            <li class="">
                <a href="~/Finance/BankAccounts">
                    <i class="img"><img src="~/Content/cryptonia_theme/data/icons/wallet-o.png" style="width:16px" alt=""></i>
                    <span class="title">Accounts</span>
                </a>
            </li>*@
            <li class="">
                <a href="~/Finance/FiscalCalendar">
                    <i class="fa fa-calendar"></i>
                    <span class="title">Fiscal Calendar</span>
                </a>
            </li>
        </ul>

    </div>
    <!-- MAIN MENU - END -->

</div>
<!--  SIDEBAR - END -->