<div class="page-sidebar fixedscroll">

    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">


        <ul class='wraplist'>
            <li class="">
                <a href="~/HR/Employees">
                    <i class="fa fa-user"></i>
                    <span class="title">Employees</span>
                </a>
            </li>
            <li class="">
                <a href="~/HR/Departments">
                    <i class="fa fa-users"></i>
                    <span class="title">Departments</span>
                </a>
            </li>
            <li class="">
                <a href="~/HR/Offices">
                    <i class="fa fa-map-marker"></i>
                    <span class="title">Offices</span>
                </a>
            </li>
            <li class="">
                <a href="~/HR/Designations">
                    <i class="fa fa-certificate"></i>
                    <span class="title">Designations</span>
                </a>
            </li>
            <li class="">
                <a href="~/HR/DepartmentOfficeHeads">
                    <i class="fa fa-graduation-cap"></i>
                    <span class="title">Regional HODs</span>
                </a>
            </li>
            <li class="">
                <a href="~/HR/Employees/ExEmployees">
                    <i class="fa fa-ban"></i>
                    <span class="title">Ex Employees</span>
                </a>
            </li>
        </ul>

    </div>
    <!-- MAIN MENU - END -->

</div>